html {
  font-size: 100%;
  background-color: #ffffff;
  color: #000000;
}

body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: end;
  height: 3.5rem;
  padding-top: 0.9rem;
  background-color: #009fd4ff;
  color: #fff;
  font-size: 2rem;

}

header img {
  height: 20%;
}

nav {
  padding: 1rem 0 1rem 0;
}
nav ul li {
  background-color: #009fd4ff;
  color: #000000;
  border: 1px solid #1b733a;
  padding: 1rem 4rem 1rem 4rem;
  font-weight: bold;
}
nav ul li a {
  background-color: #009fd4ff;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.wrapper {
  background-color: #009fd4ff;
  color: #000000;
  margin: 0 2rem 0 2rem;
}
#primary {
  padding: 0 0 1rem 2rem;
}
#main_article {
  padding: 0 1rem 0 1rem;
}

figure {
  padding: 0.5rem 0.5rem 0 1rem;
}

figure img {
  width: 100%;
  height: 100%;
}

figcaption {
  text-align: center;
  font-size: 0.60rem;
}
footer {
  display: flex;
  background-color: #009fd4ff;
  color: #000;
  padding: 0.8rem 0 0 2rem;
}
